# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
env/
venv/
ENV/

# VS Code
.vscode/

# Database
*.sqlite3
*.db

# OS files
.DS_Store
Thumbs.db

# Environment/config
config.py

# Logs
*.log

# Migrations
migrations/

.coverage
htmlcov/